article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

//Color variables

$main-dark: #03283B;
$main-light: #6B6B6B;
$background: #F6F5FB;

//Body styles

body{
font-family: 'Lato', sans-serif;
background: $background;
}
a{
	color: $main-dark;
	text-decoration: none;
}

// Header styles

header{
	text-align: center;
	h1{
		letter-spacing: 2px;
	}
	h2{
		font-size: 16px;
		font-weight: light;
		color: $main-light;
		text-transform: uppercase;
	}
}
hr{
	width: 50px;
}
.socials .fa{
	font-size: 25px;
	padding: 0 25px;
	color: $main-dark;
}

// Gallery section

.gallery {
	display: flex;
	flex: row;
	flex-wrap: wrap;
	margin: 2% 5%;
	.image{
		width: 33%;
		img{
			width: 100%;
		}
	}
}
.readMore{
	text-align: center;
	font-size: 30px;
	text-decoration: none;
	color: $main-light;
	.fa-angle-double-down:before{
		color: $main-dark;
	}
}

// Guide section

.guide{
	margin: 0 auto;
	padding-top: 25px;
	width: 73%;
	h3{
		letter-spacing: 1px;
	}
}
.guide img{
	width: 100%;
}
.gallery {
	display: flex;
	flex-direction: row;
}
.guide p, .guide li{
	font-size: 16px;
	color: $main-light;
}

	//Table 
	table{
		width: 100%;
	}
	.tg{
	border-collapse:collapse;
	border-spacing:0;
	border-color:#ccc;
	}
	.tg td{
		font-family:'Lato', sans-serif;
		font-size:14px;
		padding:10px 5px;
		border-style:solid;
		border-width:1px;
		overflow:hidden;
		word-break:normal;
		border-color:#ccc;
		color: #03283B;
		background-color:#F6F5FB;
	}
	.tg th{
		font-family:'Lato', sans-serif;
		font-size:14px;
		font-weight:normal;
		padding:10px 5px;
		border-style:solid;
		border-width:1px;
		overflow:hidden;
		word-break:normal;
		border-color:#ccc;
		color:#03283B;
		background-color: #f0f0f0;
	}

//Footer

footer p{
	text-align: center;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 2px;
	a{
		text-decoration: none;
		font-weight: bold;
	}
}
.image img{
	display: block;
}

@media (max-width: 480px){
	.gallery .image{
		width: 100%;
		margin: 0 auto;
	}
	.guide{
		width: 100%;
		padding: 5px;
	}
}

@media (max-width: 320px){
	.gallery .image{
		width: 75%;
		margin: 0 auto;
	}
}
